@import "vars"


/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
+media-breakpoint-down(lg)
+media-breakpoint-down(md)
    //Header
    .header
        .logo
            img
                margin: auto

+media-breakpoint-down(sm)
    //Header
    .header
        .nav
            text-align: center

        .logo
            img
                padding-bottom: 15px
        //Header content
        .header-content
            margin-top: 50px
            padding-bottom: 50px
            h1
                font-size: 31px     
+media-breakpoint-down(xs)
    //Portfolio
    .portfolio
        ul
            li
                width: 45%
                margin-top: 10px

/*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
+media-breakpoint-up(xl)
